

#head { 
width: 130px;
height: 140px;
position:absolute;

background: #ffdc81; 
-moz-border-radius: 65px; 
-webkit-border-radius: 65px; 
border-radius: 65px;
//margin: 10px 0 0 25px;
z-index: 99;

}

#eye1 {


width: 35px;
height: 40px;
background: #ffffcc; 
-moz-border-radius: 70px; 
-webkit-border-radius: 70px; 
border-radius: 70px;
margin: -5px 0px 0px -10px;
z-index: 100;
position:absolute;
top: 30px;
left:33px;

}


#eye2 {


width: 35px;
height: 40px;
background: #ffffcc; 
-moz-border-radius: 70px; 
-webkit-border-radius: 70px; 
border-radius: 70px;
margin: 0px 0px 0px 0px;
z-index: 100;
position:absolute;
top: 25px;
left:76px;

}

#pupil1 {


width: 20px;
height: 20px;
background: #42C0FB; 
-moz-border-radius: 70px; 
-webkit-border-radius: 70px; 
border-radius: 70px;
margin: 7px 0 0 7px;
z-index: 103;
position:absolute;
top: 0px;
left:0px;

}

#pupil2 {


width: 20px;
height: 20px;
background: #42C0FB; 
-moz-border-radius: 70px; 
-webkit-border-radius: 70px; 
border-radius: 70px;
margin: 7px 0px 0px 7px;
z-index: 103;
position:absolute;
top: 0px;
left: 0px;

}

#smile {
	width: 60px;
	height: 20px;
	border: 10px solid #A2140F;
	border-top: 0px;
	background: rgba(0,0,0,0);
	-moz-border-radius: 0 0 120px 120px / 0 0 90px 90px;
	-webkit-border-radius: 0 0 120px 120px 0 0 90px 90px;
	border-radius: 0 0 120px 120px / 0 0 90px 90px;
	position: absolute;
	top: 90px;
	left: 27px;
	//box-shadow: 0 2px 0 rgba(255,255,255, 0.8);
	//-webkit-box-shadow: 0 2px 0 rgba(255,255,255, 0.8);
	//-moz-box-shadow: 0 2px 0 rgba(255,255,255, 0.8);
	z-index: 100;

	}

#glasses1 {
	width: 33px;
	height: 23px;
	border-top: 5px solid black; 
	border-right: 5px solid black; 
	border-bottom: 5px solid black; 
	border-left: 5px solid black; 
	top: 28px;
    left: 22px;
    position:absolute;
    z-index: 106;
}	

#glasses2 {
	width: 33px;
	height: 23px;
	border-top: 5px solid black; 
	border-right: 5px solid black; 
	border-bottom: 5px solid black; 
	border-left: 5px solid black; 
	top: 28px;
    left: 72px;
    position:absolute;
    z-index: 106;
}	

#glassesBridge {
	width: 10px;
	height: 6px;
	top: 40px;
    left: 64px;
    position:absolute;
    z-index: 106;
    background:  black; 
}






#wifehead { 
	width: 120px;
	height: 140px;
	left:170px;

background: #deab7f; 
-moz-border-radius: 65px; 
-webkit-border-radius: 65px; 
border-radius: 65px;
//margin: 10px 0 0 25px;
z-index: 100;
position:absolute;

}

#wifeeye1 {


width: 35px;
height: 40px;
background: #ffffcc; 
-moz-border-radius: 70px; 
-webkit-border-radius: 70px; 
border-radius: 20px;
margin: -5px 0px 0px -10px;
z-index: 100;
position:absolute;
top: 30px;
left:29px;

}


#wifeeye2 {


width: 35px;
height: 40px;
background: #ffffcc; 
-moz-border-radius: 70px; 
-webkit-border-radius: 70px; 
border-radius: 20px;
margin: 0px 0px 0px 0px;
z-index: 100;
position:absolute;
top: 25px;
left:62px;

}

#wifepupil1 {


width: 20px;
height: 20px;
background: #6B7E47; 
-moz-border-radius: 70px; 
-webkit-border-radius: 70px; 
border-radius: 20px;
margin: 7px 0px 0px 7px;
z-index: 103;
position:absolute;
top: 0px;
left:0px;

}

#wifepupil2 {


width: 20px;
height: 20px;
background: #6B7E47; 
-moz-border-radius: 70px; 
-webkit-border-radius: 70px; 
border-radius: 20px;
margin: 7px 0px 0px 7px;
z-index: 103;
position:absolute;
top: 0px;
left: 0px;

}

#wifesmile {
	width: 60px;
	height: 20px;
	border: 10px solid #A2140F;
	border-top: 0px;
	background: rgba(0,0,0,0);
	-moz-border-radius: 0 0 120px 120px / 0 0 90px 90px;
	-webkit-border-radius: 0 0 120px 120px 0 0 90px 90px;
	border-radius: 0 0 120px 120px / 0 0 90px 90px;
	position: absolute;
	top: 90px;
	left: 23px;
	//box-shadow: 0 2px 0 rgba(255,255,255, 0.8);
	//-webkit-box-shadow: 0 2px 0 rgba(255,255,255, 0.8);
	//-moz-box-shadow: 0 2px 0 rgba(255,255,255, 0.8);
	z-index: 100;

	}

#wifehairleft {
	position:absolute;
	left:163px;
	background-color: #6a4e42;
	-moz-border-radius-bottomright: 50px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-topleft: 30px;
	-moz-border-radius-topright: 15px;
	-moz-transform: skew(-15deg,-15deg);

	-webkit-border-bottom-right-radius: 50px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-top-left-radius: 30px;
	-webkit-border-top-right-radius: 15px;
	-webkit-transform: skew(-15deg,-15deg);

 	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 30px;
  	border-top-right-radius: 15px;
  	-ms-transform: skew(-15deg,-15deg); /* IE 9 */





	width: 30px;
	height: 90px;
	z-index: 110;

}	



#wifehairright {
	position:absolute;
	left:270px;
	background-color: #6a4e42;   
	-moz-border-radius-bottomright: 50px;
		-moz-border-radius-bottomleft: 50px;

	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 30px;
	-moz-transform: skew(15deg,15deg);

	-webkit-border-bottom-right-radius: 50px;
	-webkit-border-bottom-left-radius: 50px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 30px;
	-webkit-transform: skew(15deg,15deg);

 	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-top-left-radius: 15px;
  	border-top-right-radius: 30px;
  	-ms-transform: skew(15deg,15deg); /* IE 9 */


	width: 25px;
	height: 90px;
	z-index: 110;

}	

#wifehairtopleft {
	position:absolute;
	left:200px;
		top: -6px;

	background-color: #554838;
	-moz-border-radius-bottomright: 20px;
		-moz-border-radius-bottomleft: 10px;

	-moz-border-radius-topleft: 30px;
	-moz-border-radius-topright: 15px;
	-moz-transform: skew(-35deg,-35deg);
	-moz-transform: rotate(65deg);


	-webkit-border-bottom-right-radius: 50px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-top-left-radius: 30px;
	-webkit-border-top-right-radius: 15px;
	-webkit-transform: skew(-35deg,-35deg);
	-webkit-transform: rotate(65deg);

	 border-bottom-right-radius: 50px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 30px;
  	border-top-right-radius: 15px;
  	-ms-transform: skew(-35deg,-35deg); /* IE 9 */
  	-ms-transform: rotate(65deg); /* IE 9 */
	//behavior:url(border-radius.htc);



	width: 23px;
	height: 50px;
	z-index: 109;

}	



#wifehairtopright {
	position:absolute;
	left:245px;
	top: -5px;
	background-color: #554838;
	-moz-border-radius-bottomright: 50px;
		-moz-border-radius-bottomleft: 10px;

	-moz-border-radius-topleft: 30px;
	-moz-border-radius-topright: 15px;
	-moz-transform: skew(35deg,35deg);
	-moz-transform: rotate(-65deg);


	-webkit-border-bottom-right-radius: 50px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-top-left-radius: 30px;
	-webkit-border-top-right-radius: 15px;
	-webkit-transform: skew(35deg,35deg);
	-webkit-transform: rotate(-65deg);

	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 30px;
  	border-top-right-radius: 15px;
  	-ms-transform: skew(35deg,35deg); /* IE 9 */
	-ms-transform: rotate(-65deg); /* IE 9 */ 

	// behavior:url(border-radius.htc);


	width: 23px;
	height: 50px;
	z-index: 109;

}	








#harphead { 
	width: 110px;
	height: 130px;
	left: 320px;

background: #FFdcB1; 
-moz-border-radius: 65px; 
-webkit-border-radius: 65px; 
border-radius: 65px;
//margin: 10px 0 0 25px;
z-index: 100;
position:absolute;
top: 25px;

}

#harpeye1 {


width: 30px;
height: 35px;
background: #ffffcc; 
-moz-border-radius: 70px; 
-webkit-border-radius: 70px; 
border-radius: 20px;
margin: -5px 0px 0px -10px;
z-index: 100;
position:absolute;
top: 40px;
left:29px;

}


#harpeye2 {


width: 30px;
height: 35px;
background: #ffffcc; 
-moz-border-radius: 70px; 
-webkit-border-radius: 70px; 
border-radius: 20px;
margin: 0px 0px 0px 0px;
z-index: 100;
position:absolute;
top: 35px;
left:62px;

}

#harppupil1 {


width: 20px;
height: 20px;
background: #42C0FB; 
-moz-border-radius: 70px; 
-webkit-border-radius: 70px; 
border-radius: 20px;
margin: 7px 0px 0px 7px;
z-index: 103;
position:absolute;
top: 3px;
left:0px;

}

#harppupil2 {


width: 20px;
height: 20px;
background: #42C0FB; 
-moz-border-radius: 70px; 
-webkit-border-radius: 70px; 
border-radius: 20px;
margin: 7px 0px 0px 7px;
z-index: 103;
position:absolute;
top: 3px;
left: 0px;

}

#harpsmile {
	width: 40px;
	height: 15px;
	border: 10px solid #A2140F;
	border-top: 0px;
	background: rgba(0,0,0,0);
	-moz-border-radius: 0 0 120px 120px / 0 0 90px 90px;
	-webkit-border-radius: 0 0 120px 120px 0 0 90px 90px;
	border-radius: 0 0 120px 120px / 0 0 90px 90px;
	position: absolute;
	top: 90px;
	left: 27px;
	//box-shadow: 0 2px 0 rgba(255,255,255, 0.8);
	//-webkit-box-shadow: 0 2px 0 rgba(255,255,255, 0.8);
	//-moz-box-shadow: 0 2px 0 rgba(255,255,255, 0.8);
	z-index: 100;

	}

#harphairleft {
	position:absolute;
	left:313px;
	background-color: #F2E1AE;
	-moz-border-radius-bottomright: 50px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-topleft: 30px;
	-moz-border-radius-topright: 15px;
	-moz-transform: skew(-15deg,-15deg);

	-webkit-border-bottom-right-radius: 50px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-top-left-radius: 30px;
	-webkit-border-top-right-radius: 15px;
	-webkit-transform: skew(-15deg,-15deg);

 	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 30px;
  	border-top-right-radius: 15px;
  	-ms-transform: skew(-15deg,-15deg); /* IE 9 */
  	top: 20px;




	width: 27px;
	height: 90px;
	z-index: 110;

}	



#harphairright {
	position:absolute;
	left:425px;
	background-color: #F2E1AE;   
	-moz-border-radius-bottomright: 50px;
		-moz-border-radius-bottomleft: 50px;

	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 30px;
	-moz-transform: skew(15deg,15deg);

	-webkit-border-bottom-right-radius: 50px;
	-webkit-border-bottom-left-radius: 50px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 30px;
	-webkit-transform: skew(15deg,15deg);

 	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-top-left-radius: 15px;
  	border-top-right-radius: 30px;
  	-ms-transform: skew(15deg,15deg); /* IE 9 */

  	top: 20px;
	width: 22px;
	height: 90px;
	z-index: 110;

}	

#harphairtopleft {
	position:absolute;
	left:348px;
		top: 5px;

	background-color: #F2DA91;
	-moz-border-radius-bottomright: 20px;
		-moz-border-radius-bottomleft: 10px;

	-moz-border-radius-topleft: 30px;
	-moz-border-radius-topright: 15px;
	-moz-transform: skew(-35deg,-35deg);
	-moz-transform: rotate(65deg);


	-webkit-border-bottom-right-radius: 50px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-top-left-radius: 30px;
	-webkit-border-top-right-radius: 15px;
	-webkit-transform: skew(-35deg,-35deg);
	-webkit-transform: rotate(65deg);

	 border-bottom-right-radius: 50px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 30px;
  	border-top-right-radius: 15px;
  	-ms-transform: skew(-35deg,-35deg); /* IE 9 */
  	-ms-transform: rotate(65deg); /* IE 9 */
	//behavior:url(border-radius.htc);



	width: 23px;
	height: 50px;
	z-index: 109;

}	



#harphairtopright {
	position:absolute;
	left:394px;
	top: 5px;
	background-color: #F2DA91;
	-moz-border-radius-bottomright: 50px;
		-moz-border-radius-bottomleft: 10px;

	-moz-border-radius-topleft: 30px;
	-moz-border-radius-topright: 15px;
	-moz-transform: skew(35deg,35deg);
	-moz-transform: rotate(-65deg);


	-webkit-border-bottom-right-radius: 50px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-top-left-radius: 30px;
	-webkit-border-top-right-radius: 15px;
	-webkit-transform: skew(35deg,35deg);
	-webkit-transform: rotate(-65deg);

	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 30px;
  	border-top-right-radius: 15px;
  	-ms-transform: skew(35deg,35deg); /* IE 9 */
	-ms-transform: rotate(-65deg); /* IE 9 */ 

	// behavior:url(border-radius.htc);


	width: 23px;
	height: 50px;
	z-index: 109;

}	





#rowhead { 
	width: 100px;
	height: 120px;
	left: 470px;

background: #e5c298; 
-moz-border-radius: 65px; 
-webkit-border-radius: 65px; 
border-radius: 65px;
//margin: 10px 0 0 25px;
z-index: 100;
position:absolute;
top: 35px;

}

#roweye1 {


width: 30px;
height: 35px;
background: #ffffcc; 
-moz-border-radius: 70px; 
-webkit-border-radius: 70px; 
border-radius: 20px;
margin: -5px 0px 0px -10px;
z-index: 100;
position:absolute;
top: 35px;
left:24px;

}


#roweye2 {


width: 30px;
height: 35px;
background: #ffffcc; 
-moz-border-radius: 70px; 
-webkit-border-radius: 70px; 
border-radius: 20px;
margin: 0px 0px 0px 0px;
z-index: 100;
position:absolute;
top: 30px;
left:55px;

}

#rowpupil1 {


width: 20px;
height: 20px;
background: #594c26; 
-moz-border-radius: 70px; 
-webkit-border-radius: 70px; 
border-radius: 20px;
margin: 7px 0px 0px 3px;
z-index: 103;
position:absolute;
top: 3px;
left:0px;

}

#rowpupil2 {


width: 20px;
height: 20px;
background: #594c26; 
-moz-border-radius: 70px; 
-webkit-border-radius: 70px; 
border-radius: 20px;
margin: 7px 0px 0px 3px;
z-index: 103;
position:absolute;
top: 3px;
left: 0px;

}

#rowsmile {
	width: 35px;
	height: 11px;
	border: 10px solid #A2140F;
	border-top: 0px;
	background: rgba(0,0,0,0);
	-moz-border-radius: 0 0 120px 120px / 0 0 90px 90px;
	-webkit-border-radius: 0 0 120px 120px 0 0 90px 90px;
	border-radius: 0 0 120px 120px / 0 0 90px 90px;
	position: absolute;
	top: 90px;
	left: 23px;
	//box-shadow: 0 2px 0 rgba(255,255,255, 0.8);
	//-webkit-box-shadow: 0 2px 0 rgba(255,255,255, 0.8);
	//-moz-box-shadow: 0 2px 0 rgba(255,255,255, 0.8);
	z-index: 100;

	}


#rowhairtopleft {
	position:absolute;
	left:505px;
		top: 8px;

	background-color: #F2DA91;
	-moz-border-radius-bottomright: 20px;
		-moz-border-radius-bottomleft: 10px;

	-moz-border-radius-topleft: 30px;
	-moz-border-radius-topright: 15px;
	-moz-transform: skew(-35deg,-35deg);
	-moz-transform: rotate(170deg);


	-webkit-border-bottom-right-radius: 50px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-top-left-radius: 30px;
	-webkit-border-top-right-radius: 15px;
	-webkit-transform: skew(-35deg,-35deg);
	-webkit-transform: rotate(170deg);

	 border-bottom-right-radius: 50px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 30px;
  	border-top-right-radius: 15px;
  	-ms-transform: skew(-35deg,-35deg); /* IE 9 */
  	-ms-transform: rotate(170deg); /* IE 9 */
	//behavior:url(border-radius.htc);



	width: 8px;
	height: 30px;
	z-index: 109;

}	



#rowhairtopcenter {
	position:absolute;
	left:515px;
		top: 8px;

	background-color: #F2DA91;
	-moz-border-radius-bottomright: 20px;
		-moz-border-radius-bottomleft: 10px;

	-moz-border-radius-topleft: 30px;
	-moz-border-radius-topright: 15px;
	-moz-transform: skew(-35deg,-35deg);
	-moz-transform: rotate(200deg);


	-webkit-border-bottom-right-radius: 50px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-top-left-radius: 30px;
	-webkit-border-top-right-radius: 15px;
	-webkit-transform: skew(-35deg,-35deg);
	-webkit-transform: rotate(200deg);

	 border-bottom-right-radius: 50px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 30px;
  	border-top-right-radius: 15px;
  	-ms-transform: skew(-35deg,-35deg); /* IE 9 */
  	-ms-transform: rotate(200deg); /* IE 9 */
	//behavior:url(border-radius.htc);



	width: 9px;
	height: 30px;
	z-index: 109;

}	

#rowhairtopright {
	position:absolute;
	left:530px;
		top: 12px;

	background-color: #E3CC88;
	-moz-border-radius-bottomright: 20px;
		-moz-border-radius-bottomleft: 10px;

	-moz-border-radius-topleft: 30px;
	-moz-border-radius-topright: 15px;
	-moz-transform: skew(-35deg,-35deg);
	-moz-transform: rotate(240deg);


	-webkit-border-bottom-right-radius: 50px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-top-left-radius: 30px;
	-webkit-border-top-right-radius: 15px;
	-webkit-transform: skew(-35deg,-35deg);
	-webkit-transform: rotate(240deg);

	 border-bottom-right-radius: 50px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 30px;
  	border-top-right-radius: 15px;
  	-ms-transform: skew(-35deg,-35deg); /* IE 9 */
  	-ms-transform: rotate(240deg); /* IE 9 */
	//behavior:url(border-radius.htc);



	width: 7px;
	height: 30px;
	z-index: 109;

}	






